---
layout: page
description: "相信未来 热爱生命"
---

{% for post in paginator.posts %}

<div class="post-preview">

    <a href="{{ post.url | prepend: site.baseurl }}">

        <h2 class="post-title">

            {{ post.title }}

        </h2>

        {% if post.subtitle %}

        <h3 class="post-subtitle">

            {{ post.subtitle }}

        </h3>

        {% endif %}

		{% if post.description %}

        <div class="post-content-preview">

            {% if post.description %}

			{{ post.description }}

			{% endif %}

        </div>

		{% endif %}

    </a>

   

</div>

<hr>

{% endfor %}





