---
title: infovis
layout: default
description: keep hungry keep foolish
header-img: "img/infovis-bg.jpg"
multilingual: true
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		 <h1 class="tm-text-title"><a href="https://wanlihon.github.io/infovis/地区富裕程度.html">地区富裕程度</a></h1>
		 <p>2017年10月18日，习近平指出，我们既要全面建成小康社会、实现第一个百年奋斗目标，又要乘势而上开启全面建设社会主义现代化国家新征程，向第二个百年奋斗目标进军。我国目前实现全面建成小康社会的一大阻碍就是地区经济发展水平差距太大，故而实现全国各地区全面富裕是中国发展的任务之一。</P>
		 <p>选用了画廊、心理、牙科、健身房、养老院5个数据来体现中国的地区富裕程度，越富裕的地区，以上5个指标表现在地图图表上越密集。可见东部沿海地区的密集程度远远大于西部地区，说明中国的经济发展不平衡。另用居民可支配收入和居民人均消费支出制作条形图，由此可以对比出广东上海两省富裕程度是远大于其他省市的。中国的经济发展应当做到部分带动部分，最终实现部分带动整体。</P>
		   <img src="/img/可视化.jpg"  alt="地区富裕程度" />
		   <br></br>
		   <br><h2 class="tm-text-title"><a href="https://wanlihon.github.io/infovis/能源消费结构.html">能源消费结构</a></h2>
		   <p>能源消费结构反映人民的生活水平,能源结构调整是中国能源发展面临的重要任务之一。</p>
		   <img src="/img/nengyuan.jpg"  alt="能源消费结构" /></br>
			
			
            

		</div>
	</div>
</div>
{% if site.disqus_username %}
<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

