---
title: infovis
layout: default
description: keep hungry keep foolish
header-img: "img/infovis-bg.jpg"
multilingual: true
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		 <strong><a href="https://wanlihon.github.io/infovis/%E5%9C%B0%E5%8C%BA%E5%AF%8C%E8%A3%95%E7%A8%8B%E5%BA%A6.html">地区富裕程度</a></strong>
		   <img src="/img/diqu.jpg"  alt="地区富裕程度" />
		   <strong><a href="https://wanlihon.github.io/infovis/%E8%83%BD%E6%BA%90%E6%B6%88%E8%B4%B9%E7%BB%93%E6%9E%84.html">能源消费结构</a></strong>
		   <img src="/img/能源.jpg"  alt="能源消费结构" />
			
			
            

		</div>
	</div>
</div>
{% if site.disqus_username %}
<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

